<h1>Investments</h1>
<div class="investments-container">
  <div class="investments-toolbar">
    <div class="col-md-8">
      <input
        type="text"
        placeholder="Search"
        class="form-control">
    </div>
    <div class="col-md-4 investments-toolbar-buttons">
      <app-button
        [buttonConfig]="buttonConfig">
      </app-button>
    </div>
  </div>
  <div class="investments-table">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Type</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let investment of investments">
          <td>{{ investment.investment_id }}</td>
          <td>{{ investment.investment_name }}</td>
          <td>{{ investment.investment_type.investment_type_name }}</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
