.investments-container {
  display: flex;
  flex-direction: column;
}

.investments-toolbar {
  display: flex;
  justify-content: space-between;
}

.investments-toolbar-buttons {
  display: flex;
  justify-content: flex-end;
}

.action-buttons {
  display: flex;
  justify-content: center;
  gap: 8px; /*space between buttons*/
}
