<div class="login-container">
  <div class="login-image">
    <img src="assets/image.jpg" alt="Logo">
  </div>
  <div class="login-form-container">
    <div class="login-form">
      <h2>Login</h2>
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email">E-mail</label>
          <input type="email" id="email" name="email" class="form-control" [(ngModel)]="email" #emailInput="ngModel"
            required email>
          <div *ngIf="emailInput.invalid && submitted">
            <div *ngIf="emailInput.errors?.['required']" class="input-error-message">
              E-mail is mandatory.
            </div>
            <div *ngIf="emailInput.errors?.['email']" class="input-error-message">
              Invalid e-mail.
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" class="form-control" [(ngModel)]="password"
            autocomplete="off" required #passwordInput="ngModel">
          <div *ngIf="passwordInput.invalid && submitted">
            <div *ngIf="passwordInput.errors?.['required']" class="input-error-message">
              Password is mandatory.
            </div>
          </div>
        </div>
        <div *ngIf="generalError" class="request-error-text">
          {{ generalError }}
        </div>
        <div class="div-submit-login">
          <app-button [buttonConfig]="loginButton" class="login-button">
          </app-button>
          <div *ngIf="!isLoading; else loadingTemplate"></div>
        </div>
      </form>

    </div>
  </div>

  <ng-template #loadingTemplate>
    <div class="loading-container text-center">
      <app-loader [width]="40" [height]="40"></app-loader>
    </div>
  </ng-template>
</div>
