<h1>Operations</h1>
<div class="operations-container">
  <div class="row operations-toolbar">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-3">
          <label for="">Investment</label>
          <select
            name="investment"
            id="investment"
            [(ngModel)]="investment"
            (change)="onInvestmentChange()"
            #investmentInput="ngModel"
            class="form-control"
            required>
            <option value="0" disabled selected>Select</option>
            <option
              *ngFor="let investment of investments"
              [value]="investment.investment_id">
              {{ investment.investment_name }}
            </option>
          </select>
        </div>

        <div class="col-md-3">
          <label for="operation_type">Operation type</label>
          <select
            name="operation_type"
            id="operation_type"
            [(ngModel)]="operationType"
            (change)="onOperationTypeChange()"
            #operationTypeInput="ngModel"
            class="form-control">
            <option value="0" disabled selected>Select</option>
            <option
              *ngFor="let type of operationTypes"
              [value]="type.operation_type_id">
            {{ type.operation_type_name }}
            </option>
          </select>
        </div>

        <div class="col-md-3">
          <label for="operation_date">Operation date</label>
          <input
            type="date"
            class="form-control"
            name="operation_date"
            id="operation_date"
            [(ngModel)]="operationDate"
            (change)="onOperationDateChange()">
        </div>

        <div class="col-md-3">
          <label for="operation_value">Operation value</label>
          <input
            type="text"
            class="form-control"
            name="operation_value"
            id="operation_value"
            mask="separator.2"
            [(ngModel)]="operationValue"
            (ngModelChange)="onOperationValueChange()"
            thousandSeparator="."
            decimalMarker=",">
        </div>
      </div>
    </div>

    <div class="col-md-4 operations-toolbar-buttons">
      <app-button
        [buttonConfig]="newOperationButton">
      </app-button>
    </div>
  </div>

  <hr>

  <div class="operations-table" *ngIf="!loading; else loadingTemplate">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Investment</th>
          <th scope="col">Type</th>
          <th scope="col">Date</th>
          <th scope="col">Operation value</th>
          <th scope="col" class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="filteredOperations.length === 0">
          <td colspan="4" class="text-center">NO OPERATIONS FOUND</td>
        </tr>
        <tr *ngFor="let operation of filteredOperations">
          <td>{{ operation.operation_id }}</td>
          <td>{{ operation.investment.investment_name }}</td>
          <td>{{ operation.operation_type.operation_type_name }}</td>
          <td>{{ operation.operation_date }}</td>
          <td>{{ operation.currency_type.currency_type_symbol }} {{ operation.operation_value }}</td>
          <td class="action-buttons">
            <app-button
              [buttonConfig]="getEditButtonConfig(operation)">
            </app-button>
            <app-button
              [buttonConfig]="getDeleteButtonConfig(operation)">
            </app-button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #loadingTemplate>
    <div class="loading-container text-center">
      <p>Loading operations...</p>
    </div>
  </ng-template>
</div>
