.operations-container {
  display: flex;
  flex-direction: column;
}

.operations-toolbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.operations-toolbar-buttons {
  display: flex;
  justify-content: flex-end;
}

.action-buttons {
  display: flex;
  justify-content: center;
  gap: 8px; /*space between buttons*/
}
