<h1>Operations</h1>
<div class="operations-container">
  <div class="operations-toolbar">
    <div class="col-md-8">
      <input
        type="text"
        placeholder="Search by name"
        class="form-control"
        [(ngModel)]="searchTerm"

        >
    </div>
    <div class="col-md-4 operations-toolbar-buttons">
      <app-button
        [buttonConfig]="newOperationButton">
      </app-button>
    </div>
  </div>

  <div class="operations-table" *ngIf="!loading; else loadingTemplate">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <!-- <th scope="col">Name</th> -->
          <th scope="col">Type</th>
          <th scope="col" class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="filteredOperations.length === 0">
          <td colspan="4" class="text-center">NO OPERATIONS FOUND</td>
        </tr>
        <tr *ngFor="let operation of filteredOperations">
          <td>{{ operation.operation_id }}</td>
          <!-- <td>{{ operation.operation_name }}</td> -->
          <td>{{ operation.operation_type.operation_type_name }}</td>
          <td class="action-buttons">
            <app-button
              [buttonConfig]="getEditButtonConfig(operation)">
            </app-button>
            <app-button
              [buttonConfig]="getDeleteButtonConfig(operation)">
            </app-button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #loadingTemplate>
    <div class="loading-container text-center">
      <p>Loading operations...</p>
    </div>
  </ng-template>
</div>
