<div class="operation-container">
  <h1>New Operation</h1>
  <div class="operation-form-container col-md-4">
    <form
      #operationForm="ngForm"
      >
      <div class="form-group">
        <label for="operation_type">Operation type</label>
        <select
          name="operation_type"
          id="operation_type"
          [(ngModel)]="operationType"
          #operationTypeInput="ngModel"
          class="form-control"
          required>
          <option value="0" disabled selected>Select</option>
          <option
            *ngFor="let type of operationTypes"
            [value]="type.operation_type_id">
          {{ type.operation_type_name }}
          </option>
        </select>
        <div *ngIf="operationType === 0 && submitted">
          <div class="input-error-message">
            Operation type is mandatory.
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="operation-two-inputs-row">
          <div class="col-md-5">
            <label for="">Investment</label>
            <select
              name="investment"
              id="investment"
              [(ngModel)]="investment"
              (change)="onInvestmentChange(investment)"
              #investmentInput="ngModel"
              class="form-control"
              required>
              <option value="0" disabled selected>Select</option>
              <option
                *ngFor="let investment of investments"
                [value]="investment.investment_id">
                {{ investment.investment_name }}
              </option>
            </select>
            <div *ngIf="investment === 0 && submitted">
              <div class="input-error-message">
                Investment is mandatory.
              </div>
            </div>
          </div>

          <div class="col-md-5">
            <label for="">Investment type</label>
            <div>
              <input
                type="text"
                name="investment_type"
                id="investment_type"
                class="form-control"
                [value]="investmentType"
                disabled>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group operation-two-inputs-row">
        <div class="col-md-5">
          <label for="">Operation date</label>
          <input
            type="date"
            name="operation_date"
            id="operation_date"
            class="form-control"
            [(ngModel)]="operationDate"
            (change)="onOperationDateChange(operationDate)"
            [ngModelOptions]="{updateOn: 'blur'}">
            <div *ngIf="operationDate === '' && submitted">
              <div class="input-error-message">
                Operation date is mandatory.
              </div>
            </div>
        </div>

        <div class="col-md-5">
          <label for="">Currency</label>
          <select
              name="currency_type"
              id="currency_type"
              [(ngModel)]="currencyType"
              #currencyTypeInput="ngModel"
              (change)="onCurrencyTypeChange(currencyType)"
              class="form-control"
              required>
              <option value="0" disabled selected>Select</option>
              <option
                *ngFor="let type of currencyTypes"
                [value]="type.currency_type_id">
              {{ type.currency_type_symbol }} ({{type.currency_type_code}})
              </option>
          </select>
          <div *ngIf="currencyType === 0 && submitted">
            <div class="input-error-message">
              Currency is mandatory.
            </div>
          </div>
        </div>
      </div>
      <div class="form-group operation-two-inputs-row">
        <div class="col-md-5">
          <label for="">Quantity</label>
          <input
            type="number"
            name="quantity"
            id="quantity"
            [(ngModel)]="quantity"
            (ngModelChange)="updateOperationValue()"
            min="1"
            class="form-control">
          <div *ngIf="quantity <= 0 && submitted">
            <div class="input-error-message">
              Quantity must be greater than 0.
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <label for="">Unit price</label>
          <input
            type="text"
            name="unit_price"
            id="unit_price"
            class="form-control"
            [(ngModel)]="unitPrice"
            (ngModelChange)="updateOperationValue()"
            mask="separator.2"
            prefix="{{currencyTypeSymbol}} "
            thousandSeparator="."
            required>
          <div *ngIf="unitPrice === 0 && submitted">
            <div class="input-error-message">
              Unit price must be greater than 0.
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="">Operation value</label>
        <div class="col-md-12">
          <input
            type="text"
            name="operation_value"
            id="operation_value"
            [value]="operationValue | currency:currencyTypeSymbol:true:'1.2-2':'pt-BR'"
            class="form-control operation-value"
            disabled>
        </div>
      </div>

      <div class="form-group operation-form-buttons">
        <app-button
          [buttonConfig]="cancelButton">
        </app-button>
        <app-button
          [buttonConfig]="saveButton">
        </app-button>
      </div>
    </form>
  </div>
</div>
