.operation-two-inputs-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.operation-form-buttons {
  display: flex;
  justify-content: space-between;
}

.operation-value {
  font-weight: bold;
  text-align: center;
}
