<div class="wallet-container">
  <div class="wallet-content">
    <div class="wallet-title">
      <h1>Wallet</h1>
    </div>
    <div class="row wallet-cards">

        <div class="col-md-5">
          <app-card
            [cardTitle]="'Total invested amount'"
          >
              <app-total-invested>
              </app-total-invested>
          </app-card>
        </div>

        <div class="col-md-5">
          <app-card [cardTitle]="'Investments per type'">
            <app-pie-chart [pieChartData]="pieChartData"></app-pie-chart>

          </app-card>
        </div>

    </div>
    <div class="row">
      <div class="col-md-5">
      </div>
    </div>
  </div>

</div>
