.dashboard-container {
  display: flex;
}

.dashboard-container app-sidebar {
  flex-shrink: 0;
}

.dashboard-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.dashboard-cards {
  width: 100%;
  display: flex;
  justify-content: center;
}
