<div class="dashboard-container">
  <div class="dashboard-content">
    <div class="dashboard-title">
      <h1>Dashboard</h1>
    </div>
    <div class="row dashboard-cards">
        <div class="col-md-5">
          <app-card
            [cardTitle]="'Total invested amount'">
          </app-card>
        </div>
        <div class="col-md-5">
          <app-card
            [cardTitle]="'Investments per type'">
          </app-card>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">  </div>
    </div>
  </div>

</div>
