<div class="investment-container">
  <h1 *ngIf="!isEditMode">New Investment</h1>
  <h1 *ngIf="isEditMode">Edit Investment</h1>
  <div *ngIf="isLoading" class="loading-container">
    <p>Loading...</p>
  </div>
  <div
    *ngIf="!isLoading"
    class="investment-form-container col-md-4">
    <form
      #investmentForm="ngForm"
      >
      <div class="form-group">
        <label for="investment_name">Name</label>
        <input
          type="text"
          id="investment_name"
          name="investment_name"
          [(ngModel)]="investmentName"
          #investmentNameInput="ngModel"
          class="form-control"
          required
          autocomplete="off">
        <div *ngIf="investmentNameInput.invalid && submitted">
          <div *ngIf="investmentNameInput.errors?.['required']" class="input-error-message">
            Name is mandatory.
          </div>
        </div>

        <label for="investment_type">Type</label>
        <select
          name="investment_type"
          id="investment_type"
          [(ngModel)]="investmentType"
          #investmentTypeInput="ngModel"
          class="form-control"
          required>
          <option value="0" disabled selected>Select</option>
          <option
            *ngFor="let type of investmentTypes"
            [value]="type.investment_type_id">
          {{ type.investment_type_name }}
          </option>
        </select>
        <div *ngIf="investmentType === 0 && submitted">
          <div class="input-error-message">
            Type is mandatory.
          </div>
        </div>
      </div>
      <div class="form-group investment-form-buttons">
        <app-button
          [buttonConfig]="cancelButton">
        </app-button>
        <app-button
          [buttonConfig]="saveButton">
        </app-button>
      </div>
    </form>
  </div>
</div>
